@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.checkpp {
  border: solid 1px black;
}

.logo-mini {
  align-self: flex-start;
  transition: all 0.5s ease;
}

.logo-img {
  width: 120px;
  height: 42px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

// Hedder
.hedder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.hedder-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
  letter-spacing: 0.5px;
}
.hedder-tagline {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.408px;
  color: #959595;
}

// Remember me

.remember-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 14px;
}

.remember-me-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #333333;
}

// Check box manual

.check-box {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 9px;
}

.check-box-wrapper {
  display: flex;
  align-items: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;

  border: 2px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #d42e12;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1.5px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Inputs

input:focus {
  outline: none;
}

.input-wrapper {
  width: 100%;
  margin-top: 37px;
}
.form-input {
  position: relative;
  margin: 5px 0px 5px 0px;
}
.user-lable {
  position: absolute;
  top: 27%;
  left: 5%;
  transition: 0.5s;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #959595;
}

.input-username:focus ~ .user-lable,
.input-username:valid ~ .user-lable {
  top: -1px;

  font-family: Poppins;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: capitalize;

  color: #565656;
}

.pass-lable {
  position: absolute;
  top: 32%;
  left: 5%;
  transition: 0.5s;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #959595;
}

.input-password:focus ~ .pass-lable,
.input-password:valid ~ .pass-lable {
  top: -1px;

  font-family: Poppins;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-transform: capitalize;
  color: #565656;
}

.pass-eye {
  position: absolute;
  font-size: 20px;
  top: 30%;
  left: 92%;
  cursor: pointer;
  color: black;
}

.input-username {
  background: #eeeeee;
  border-radius: 5px;
  height: 56px;
  width: 95%;
  border: none;
  margin-bottom: 18px;
  padding: 1% 0 0 5%;

  font-family: Poppins;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #333333;
}

.input-password {
  background: #eeeeee;
  border-radius: 5px;
  height: 56px;
  width: 95%;
  border: none;
  margin: 0px;
  padding: 1% 0 0 5%;

  font-family: Poppins;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #333333;
}

//Button

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
}

.button {
  position: relative;
  background: #d42e12;
  border-radius: 5px;
  width: 212px;
  height: 50px;
  border: none;

  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button:disabled {
  cursor: not-allowed;
}

button:hover {
  background: #ca2306;
  cursor: pointer;
  color: #ffffff;
}
button:focus {
  background: #ac2109;
}

.button:active {
  background: #a51c04;
}

.forgot-password {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.408px;
  color: #d42e12;
}
.forgot-password:hover {
  cursor: pointer;
  color: #c72509;
}

.input-username:focus {
  border: none;
}

// footer

.sign-up-text {
  align-self: flex-start;
  margin-top: 56px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.sign-up-text-red {
  cursor: pointer;
  color: #d42e12;
  font-weight: bold;
}

// Responsive styles

@media only screen and (max-width: 880px) {
  .button-wrapper {
    justify-content: center;
  }
  .hedder {
    align-items: center;
  }
  .logo-mini {
    align-self: center;
  }
  .logo-img {
    width: 120px;
    height: 42px;
  }

  .sign-up-text {
    align-self: center;
  }
}

// spinner

.button__text {
  transition: all 0.2s;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
