@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.check-logIn {
  border: solid 1px black;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}
.left-wrapper {
  flex-grow: 1.5;
  height: 100%;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1900px) {
  .left-wrapper {
    flex-grow: 2;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 1440px) {
  .left-wrapper {
    flex-grow: 2.5;
    transition: all 0.5s ease;
  }
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.img-slider {
  height: 100%;
}
.log-in-text {
  position: absolute;
  width: 47%;
  left: 2%;
  top: 75%;

  z-index: 2;
}

.text-other {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 52px;
  text-transform: capitalize;
  color: #ffffff;
}

.awssld__bullets {
  margin-bottom: 53px !important;
  z-index: 2;
}

.awssld__bullets button {
  width: 10px !important;
  height: 10px !important;
  background-color: white !important;
}

.awssld__bullets .awssld__bullets--active {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  width: 20px !important;
  border-radius: 5px !important;
  background: #d42e12 !important;
}

.red-text {
  color: #d42e12;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width: 95%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.footer-lable {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

// Responsive styles

@media only screen and (max-width: 880px) {
  .left-wrapper {
    display: none;
  }
}
