/* customcss */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  /* background-color: #e5e5e5; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-contianer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 26rem 1fr 27rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
  padding: 0rem 20rem;
  border-bottom: 1px solid rgb(211, 210, 210);
  font-size: 12px;
}

.main-main-nav-bar {
  grid-area: nav;
  background-color: #fff;
  padding: 0rem 0;
}

main {
  grid-area: main;
  background-color: #e5e5e5;
  padding: 1rem 20rem;
}

footer {
  grid-area: footer;
  background-color: #333333;
  padding: 5rem 20rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/*header*/

header a {
  padding: 1rem;
  color: #d42e12;
  font-weight: 500;
}

.public-menus {
  display: flex;
  align-items: center;
}

.public-menus a {
  color: gray;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* nav */

.main-nav-bar {
  padding: 1rem 20rem;
}

.nav-bar {
  padding: 0px 20rem;
}

.logo {
  width: 12%;
}

.search-form {
  display: block;
  align-items: center;
  width: 60%;
}

.search {
  align-items: center;
  width: 70%;
  background-color: #f2f2f2;
  border: none;
  height: 42px;
}

#search {
  padding: 17px;
  padding-left: 55px;
  width: 100%;
  border: 1px solid #f5f5f5;
  font-size: 13px;
  color: gray;
  background-repeat: no-repeat;
  background-position: 20px center;
  outline: 0;
}

.search-input {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
}

.def-val {
  padding: 1rem;
}

.def-val p {
  color: #959595;
  font-size: 12px;
  margin: 0;
}

.account-setting,
.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-setting a,
.cart a {
  color: #d42e12;
}

/* nav-bar */
.nav-bar {
  background-color: #d42e12;
}

.nav-bar ul li:nth-child(1) {
  background-color: black;
  cursor: pointer;
}

.nav-bar ul {
  list-style: none;
  margin: auto;
}

.nav-bar ul li {
  display: inline-block;
  padding: 1rem;
}

.nav-bar ul li:hover {
  background-color: black;
  cursor: pointer;
}

.nav-bar ul li a {
  color: #fff;
}

/* main image */
.main-image {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  padding: 0px 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  vertical-align: middle;
}

.main-image a {
  color: #d42e12;
}

.main-image p {
  margin: 10px 0;
  color: #fff;
}

.main-image .title-main {
  margin-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.408px;
  color: #ffffff;
}

/* main */
.ads {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0rem;
  border-radius: 5px;
  padding: 61px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.company-details {
  margin: 1rem 0;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}

.company-logo {
  width: 20%;
  border-right: 1px solid #e7e7e7;
}

.company-logo img {
  width: 100%;
}

.company-details-colum {
  width: 60%;
}

.company-email {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #333333 !important;
}

.order-details {
  width: 60%;
}

.order-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e7e7e7;
  padding-right: 37px;
}

.order-count p {
  margin: 10px 0px;
}

.count {
  color: #d42e12;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 11px;
}

.order-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
}

/* wheather */
.wheather {
  padding: 1rem;
}

.wheather-details {
  padding-right: 10px;
}

.wheather p {
  margin: 10px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.temprature {
  font-style: normal;
  font-weight: 300;
  font-size: 40px !important;
  line-height: 40px;
}

/* main-body */
.main-body {
  display: flex;
  justify-content: end;
  align-items: left;
}

.main-body-body {
  width: 79%;
}

.filter {
  width: 20%;
  background: #fff;
  margin-right: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0 0rem;
  border-bottom: 1px solid #eeeeee;
}

.filter .title {
  padding: 0 1rem;
}

.t {
  text-align: left;
  /* width: 70%; */
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
}

.r {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #959595;
  cursor: pointer;
}

.title-details {
  width: 85%;
}

.r:hover {
  border-bottom: 1px solid #959595;
}

.downarrow {
  cursor: pointer;
}

.Categories {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}

.subsubcatergories {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.sub-subDetails {
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem rem;
}

.subchecklist {
  padding: 1rem;
}

.subsubchecklist {
  padding: 2rem;
}

hr {
  border-top: 1px solid #eeeeee;
}

.subchecklist div {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subchecklist div input {
  width: 18px;
  height: 18px;
  border: 2px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

.subchecklist div label {
  padding-left: 1rem;
}

.subcategoryTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #333333;
}

/* search-card */
.search-cards {
  height: 30px 0px;
  padding: 1rem 0;
  display: flex;
  vertical-align: middle;
}

.search-from2 {
  width: 40%;
}

.card {
  padding: 6px;
  background: #fff;
  align-self: inherit;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}

/* search */
.sort-per {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30%;
}

.sort-per-title p {
  color: #959595;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin: 5px 0px;
}

.sort-per select {
  border: none;
  background: no-repeat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.excelexport button {
  background: #333333;
  border-radius: 5px;
  width: 168px;
  padding-left: 20px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* products */
.products {
  background: #fff;
  margin-top: 10px;
  padding: 8px;
}

.product-img {
  display: flex;
  width: 20%;
}

.product-img img {
  height: 150px;
}

.mini-product img {
  height: 100px;
}

.min-detials-cost {
  display: flex;
}

.min-detials-cost p {
  margin: 5px 3px !important;
}

.product-cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #d42e12;
  color: #fff;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin-top: 50px;
}

.precentage {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.product-details {
  width: 35%;
}

.main-title {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 14px !important;
  text-transform: capitalize !important;
  color: #000000 !important;
}

.product-details p {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-transform: capitalize;
  color: #333333;
}

.min-product-cost-details {
  display: flex;
}

.product-cost-details {
  text-align: right;
}

.product-cost-details p {
  margin: 10px;
}

.qty-min {
  display: flex;
  align-items: center;
}

.qty input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  height: 40px;
  width: 25px;
  background-color: #fff;
}

.qty input {
  width: 70px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  text-align: center;
}

.dis-cost {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-decoration-line: line-through;
  color: #959595;
}

.cost-pro {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}

.cost2 {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-align: right;
  color: #7a7a7a;
}

.qty {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: revert;
  padding: 0.5rem;
  color: #333333;
  margin-left: 3rem;
}

.product-cost-details button {
  background: #d42e12;
  border-radius: 5px;
  border: none;
  width: 61px;
  height: 32px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.product-cost-details .addtoccart {
  background: #d42e12;
  border-radius: 5px;
  border: none;
  width: 142px;
  height: 38px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.footer-details {
  width: 20%;
}

.footer-details img {
  width: 176px;
  height: 60px;
  left: 179px;
  top: 3286px;
  padding: 2rem 0;
}

.paragraph {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-links {
  width: 30%;
}

.foot-link-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 0px !important;
}

.footer-link-list {
  display: flex;
  justify-content: space-between;
}

.footer-link-list ul {
  list-style: none;
  padding-left: 0px;
}

.footer-link-list ul li {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer-contacts div {
  padding: 1.2rem 0;
}

.top-phone::before{
  color: #959595 !important;
}

.fa-phone:before {
  color: white;
  content: "\f095";
}

.cantactNmber {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.408px;
  color: #d42e12;
}

.fa-map-marker::before {
  padding: 5px;
}

.address {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.emailaddress {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.408px;
  text-decoration-line: underline;
  color: #d42e12;
}

.emailicon::before {
  padding: 5px;
  color: #fff;
}

/* toggle */
.toggle-view {
  overflow: hidden;
  display: flex;
}

.view-btn {
  height: 40px;
  width: 60px;
  border: none;
  border: 1px solid #333333;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
}

.view-btn.is-active {
  background: #333333;
}

.view-btn.is-active span {
  background: #ffffff;
}

.view-btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.view-btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  left: -1px;
}

.view-btn span {
  background: #333333;
  display: block;
  height: 3px;
  border-radius: 5px;
  margin: 2px 0;
  width: 100%;
}

.view-btn span:nth-child(2) {
  width: calc(100% - 5px);
}

.view-btn span:nth-child(3) {
  width: calc(100% - 10px);
}

/* loading */
.loader {
  text-align: center;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  margin: 2rem;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.search-form2-brand {
  display: flex;
  justify-content: center;
}

.search-form2-brand input {
  height: 31px;
  background: #f2f2f2;
  border-radius: 5px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.page-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
  margin-top: 35px;
}
.page-box {
  color: #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 4px;
}

.page-box-selected {
  color: #d42e12;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #f5f5f5;
  border: 1px solid #d42e12;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 4px;
}

prod-des-link{
  cursor: pointer;
}